<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>101</integer>
							<key>name</key>
							<string>丽江</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>32165</integer>
							<key>name</key>
							<string>石林</string>
						</dict>
					</array>
					<key>name</key>
					<string>昆明</string>
				</dict>
			</array>
			<key>name</key>
			<string>云南省</string>
		</dict>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>6781</integer>
							<key>name</key>
							<string>西湖</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>278912</integer>
							<key>name</key>
							<string>雷峰塔</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>90184</integer>
							<key>name</key>
							<string>法海</string>
						</dict>
					</array>
					<key>name</key>
					<string>杭州</string>
				</dict>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>111</integer>
							<key>name</key>
							<string>宁</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>9641</integer>
							<key>name</key>
							<string>波</string>
						</dict>
					</array>
					<key>name</key>
					<string>宁波</string>
				</dict>
			</array>
			<key>name</key>
			<string>浙江省</string>
		</dict>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<string>222</string>
							<key>name</key>
							<string>三峡</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>154</integer>
							<key>name</key>
							<string>小妹妹</string>
						</dict>
					</array>
					<key>name</key>
					<string>重庆市</string>
				</dict>
			</array>
			<key>name</key>
			<string>重庆市</string>
		</dict>
	</array>
</dict>
</plist>
