<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>101</integer>
							<key>name</key>
							<string>A2_0</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>32165</integer>
							<key>name</key>
							<string>A2_1</string>
						</dict>
					</array>
					<key>name</key>
					<string>A1_0</string>
				</dict>
			</array>
			<key>name</key>
			<string>A0_0</string>
		</dict>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>6781</integer>
							<key>name</key>
							<string>B2_0</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>278912</integer>
							<key>name</key>
							<string>B2_1</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>90184</integer>
							<key>name</key>
							<string>B2_2</string>
						</dict>
					</array>
					<key>name</key>
					<string>B1_0</string>
				</dict>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<integer>111</integer>
							<key>name</key>
							<string>B2+0</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>9641</integer>
							<key>name</key>
							<string>B2+1</string>
						</dict>
					</array>
					<key>name</key>
					<string>B1_1</string>
				</dict>
			</array>
			<key>name</key>
			<string>B0_0</string>
		</dict>
		<dict>
			<key>data</key>
			<array>
				<dict>
					<key>data</key>
					<array>
						<dict>
							<key>id</key>
							<string>222</string>
							<key>name</key>
							<string>C2_0</string>
						</dict>
						<dict>
							<key>id</key>
							<integer>154</integer>
							<key>name</key>
							<string>C2_1</string>
						</dict>
					</array>
					<key>name</key>
					<string>C1_0</string>
				</dict>
			</array>
			<key>name</key>
			<string>C0_0</string>
		</dict>
	</array>
</dict>
</plist>
